<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>
<body>

<%- include('partials/navbar.ejs') %> <!-- Barra de Navegador  -->
    
   <form action="/edit/<%= user._id %>" method="POST">
    <div>
        <label>Nome</label>
        <input type="text" name="name" placeholder="Digite o seu nome" value="<%= user.name %>">
      </div>
      <div>
        <label>Idade</label>
        <input type="text" name="age" placeholder="Digite o sua idade" value="<%= user.age %>">
      </div>
      <div>
        <label>E-mail</label>
        <input type="text" name="email" placeholder="Digite o seu e-mail" value="<%= user.email %>">
      </div>
      <button type="submit">Editar</button>
   </form>


    <%- include('partials/javascript.ejs') %>
</body>
</html>